.env

venv/
__pycache__/
*.pyc
*.pyo   
*.pyd
*.env   
*.sql         


.env
*.sqlite3        # Si vous utilisez une DB SQLite temporaire
*.db


.vscode/
.idea/
*.code-workspace

*.log
*.bak
*.swp
*.tmp

*.pid
docker-compose.override.yml  
.docker/

.coverage
coverage.xml
htmlcov/
pytest_cache/


dist/
build/
*.egg-info/


nginx/*.tmp
